{% extends "layout.html" %}
{% block content %}

<form method = "POST" action ="{{ url_for('confirm')}}" style="padding: 20px 20px;">
	{{ form. csrf_token }}
	{{ form.name.label(class ="form-label")}}

	{{ form.name (class ="form-label") }}

	{{ form.lname.label (class ="form-label") }}
	{{ form.lname (class ="form-label") }}
</br>

	{{ form.city.label (class ="form-label")}}
	{{ form.city (class ="form-label") }}
</br>

	{{ form.state.label (class ="form-label")}}
	{{ form.state (class ="form-label") }}
</br>

	{{ form.country.label (class ="form-label") }}
	{{ form.country (class ="form-label") }}
</br>

	{{ form.total.label (class ="form-label") }}
	{{ form.total (class ="form-label") }}
</br>

	{{ form.submit (class ="btn-secondary") }}
</form>

<a href = "confirm.html"></a>




{% endblock %} 