.order-confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.order-confirmation-number {
  color: #f16029;
  font-weight: bold;
  font-style: italic;
}
.notification {
  padding: 3% 15%;
}

table {
  width: 50%;
}

caption {
  text-align: left;
  background-color: #f9ac22;
  color: #000000;
  text-transform: uppercase;
  padding: 5px;
  margin-top: 3%;
}

th,
td {
  padding: 5px 10px;
  width: 100%;
}

tbody tr:nth-child(odd) {
  display: block;
  border-bottom: 2px solid black;
  border-collapse: separate;
  border-spacing: 4px;
  background: WhiteSmoke;
}

tbody tr:nth-child(even) {
  display: block;
  border-bottom: 2px solid black;
  border-collapse: separate;
  border-spacing: 4px;
  background: WhiteSmoke;
}
